<div class="row">
    <div class="col">
        <form 
            autocomplete="off"
            [formGroup]="myForm"
            (ngSubmit)="onSubmit()">
            
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Nombre del Usuario"
                    formControlName="nombre">
                
                @if (osValidField('nombre')) 
                {
                    <p class="text-danger">
                        {{getFieldError('nombre')}}
                    </p>
                }
            </div>   

            <div class="mb-3">
                <label class="form-label">Edad</label>
                <input 
                    type="number" 
                    class="form-control" 
                    placeholder="Edad del Usuario"
                    formControlName="edad">
                
                @if (osValidField('edad')) 
                {
                    <p class="text-danger">
                        {{getFieldError('edad')}}
                    </p>
                }
            </div>

            <div class="mb-3">
                <label class="form-label">Correo</label>
                <input 
                    type="email" 
                    class="form-control" 
                    placeholder="Correo electrónico"
                    formControlName="correo">
                
                @if (osValidField('correo')) 
                {
                    <p class="text-danger">
                        {{getFieldError('correo')}}
                    </p>
                }
            </div>

            <div class="row">
                <div class="col">
                    <button 
                        type="submit" 
                        class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>