<nav>
  <a
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >Home</a>

  <a
    routerLink="/perfil"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >Perfil</a>

  <a
    routerLink="/proyectos"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >Proyectos</a>

  <a
    routerLink="/proyectos-dos"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >Proyectos Dos</a>

  <a
    routerLink="/formularios/formulario" 
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >Formulario Básico</a>

  <a
    routerLink="/formularios/formulario-dinamico" 
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >Formulario Dinámico</a>

  
  <a
    routerLink="/formularios/formulario-mas" 
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >Formulario Mas</a>

</nav>